In [1]:
import pandas as pd

In [2]:
# import data
transactions = pd.read_excel('grocery_database.xlsx', sheet_name = 'transactions')
transactions.head()

,customer_id,transaction_date,transaction_id,product_area_id,num_items,sales_cost
0,1,2020-04-10,435657533999,3,7,19.16
1,1,2020-04-10,435657533999,2,5,7.71
2,1,2020-06-02,436189770685,4,4,26.97
3,1,2020-06-02,436189770685,1,2,38.52
4,1,2020-06-10,436265380298,4,4,22.13

In [3]:
# list all column names
list(transactions)

['customer_id',
 'transaction_date',
 'transaction_id',
 'product_area_id',
 'num_items',
 'sales_cost']

In [7]:
# renaming columns
transactions.rename(columns = { # dict old_col_name: new_col_name
    'customer_id': 'cust_id',
    'sales_cost': 'sales_price'
}, inplace = True)
list(transactions)

['cust_id',
 'transaction_date',
 'transaction_id',
 'product_area_id',
 'num_items',
 'sales_price']

In [9]:
# renaming columns using a list (list must contain same number of elements)
column_names = [
    'customer_id',
    'transaction_date',
    'transaction_id',
    'product_group_id',
    'num_items',
    'sales_cost'
]
transactions.columns = column_names
list(transactions)

['customer_id',
 'transaction_date',
 'transaction_id',
 'product_group_id',
 'num_items',
 'sales_cost']

In [10]:
# replacing all underscores in column names (useful for mass column changes)
transactions.columns = transactions.columns.str.replace('_', ' ')
list(transactions)

['customer id',
 'transaction date',
 'transaction id',
 'product group id',
 'num items',
 'sales cost']