In [1]:
import sqlite3

In [3]:
# establish connection and cursor
connection = sqlite3.connect('data.db')
cursor = connection.cursor()

In [5]:
# query data
cursor.execute("""
    select * from events where date = '2088.10.15'
""")

result = cursor.fetchall()
print(result)

[('Lions', 'Lion City', '2088.10.15'), ('Monkey', 'Monkey City', '2088.10.15')]

In [6]:
# insert records
new_rows = [('Cats', 'Cat City', '2088.10.17'), ('Hens', 'Hen City', '2088.10.17')]

cursor.executemany("insert into events values(?,?,?)", new_rows)
connection.commit()

In [15]:
# query data
cursor.execute("""
    select * from events
""")

result = cursor.fetchall()
print(result)

[('Lions', 'Lion City', '2088.10.15'), ('Monkey', 'Monkey City', '2088.10.15'), ('Cats', 'Cat City', '2088.10.17'), ('Hens', 'Hen City', '2088.10.17')]

In [35]:
# drop table
cursor.execute("""
    drop table tour_events;
""")
connection.commit()

# create table
cursor.execute("""
    create table tour_events (
        band text,
        city text,
        date text
    );
""")
connection.commit()

In [37]:
# query data
cursor.execute("""
    select * from tour_events
""")

result = cursor.fetchall()
print(result)

[('Feng Suave', 'Minimalia City', '5.5.2089'), ('Lions of the IDE', 'Clone City', '6.5.2088')]