In [10]:
import pandas as pd
import pickle

In [11]:
# import customers for scoring
to_be_scored = pickle.load(open('data/abc_regression_scoring.p', 'rb'))
to_be_scored.head()

,customer_id,distance_from_store,gender,credit_score,total_sales,total_items,transaction_count,product_area_count,avg_basket_value
6,1,4.78,F,0.66,3980.49,424,51,5,78.048824
7,120,3.49,F,0.38,2887.20,253,45,5,64.160000
8,52,14.91,F,0.68,3342.75,335,47,5,71.122340
10,435,0.25,M,0.62,2326.71,267,48,5,48.473125
12,679,4.74,F,0.58,3448.59,370,49,5,70.379388

In [12]:
# import model and model objects
regressor = pickle.load(open('data/random_forest_regression_model.p', 'rb'))
one_hot_encoder = pickle.load(open('data/random_forest_regression_model_ohe.p', 'rb'))

In [13]:
# drop unused column (customer_id)
to_be_scored.drop(['customer_id'], axis = 1, inplace = True)
to_be_scored.head()

,distance_from_store,gender,credit_score,total_sales,total_items,transaction_count,product_area_count,avg_basket_value
6,4.78,F,0.66,3980.49,424,51,5,78.048824
7,3.49,F,0.38,2887.20,253,45,5,64.160000
8,14.91,F,0.68,3342.75,335,47,5,71.122340
10,0.25,M,0.62,2326.71,267,48,5,48.473125
12,4.74,F,0.58,3448.59,370,49,5,70.379388

In [14]:
# drop missing values
to_be_scored.dropna(how = 'any', inplace = True)
to_be_scored.isna().sum()

distance_from_store    0
gender                 0
credit_score           0
total_sales            0
total_items            0
transaction_count      0
product_area_count     0
avg_basket_value       0
dtype: int64

In [15]:
# add columns to apply one hot encoding into a list
categorical_vars = ['gender']

In [17]:
# apply one hot encoder object
encoder_vars_array = one_hot_encoder.transform(to_be_scored[categorical_vars])

In [19]:
# create object to get feature names
encoder_feature_names = one_hot_encoder.get_feature_names(categorical_vars)

In [21]:
# create data frame with encoder variables and feature names
encoder_vars_df = pd.DataFrame(encoder_vars_array, columns = encoder_feature_names)
encoder_vars_df.tail()

     gender_M
458       0.0
459       1.0
460       1.0
461       0.0
462       1.0

In [22]:
# concat new dataframe to original resetting index (ensures no rows are misaligned)
to_be_scored = pd.concat([
    to_be_scored.reset_index(drop = True), 
    encoder_vars_df.reset_index(drop = True)], 
    axis = 1) # axis 1 concats columns and not rows
    
to_be_scored.tail()

,distance_from_store,gender,credit_score,total_sales,total_items,transaction_count,product_area_count,avg_basket_value,gender_M
458,400.97,F,0.54,4072.86,346,45,5,90.508000,0.0
459,0.32,M,0.38,3097.99,281,51,5,60.744902,1.0
460,1.62,M,0.63,3736.02,250,46,5,81.217826,1.0
461,4.36,F,0.54,4407.12,354,47,5,93.768511,0.0
462,1.87,M,0.59,3067.83,254,53,5,57.883585,1.0

In [23]:
# drop original categorical columns
to_be_scored.drop(categorical_vars, axis = 1, inplace = True) # axis 1 drops columns and not rows
to_be_scored.tail()

,distance_from_store,credit_score,total_sales,total_items,transaction_count,product_area_count,avg_basket_value,gender_M
458,400.97,0.54,4072.86,346,45,5,90.508000,0.0
459,0.32,0.38,3097.99,281,51,5,60.744902,1.0
460,1.62,0.63,3736.02,250,46,5,81.217826,1.0
461,4.36,0.54,4407.12,354,47,5,93.768511,0.0
462,1.87,0.59,3067.83,254,53,5,57.883585,1.0

In [25]:
# make our predictions
loyalty_predictions = regressor.predict(to_be_scored)
loyalty_predictions

array([0.42345, 0.35396, 0.34514, 0.95676, 0.38008, 0.9627 , 0.4302 ,
       0.69317, 0.31698, 0.73104, 0.44781, 0.54854, 0.43214, 0.45483,
       0.5508 , 0.37755, 0.74004, 0.2978 , 0.89329, 0.41708, 0.34697,
       0.55372, 0.5739 , 0.38557, 0.62913, 0.46992, 0.58406, 0.91735,
       0.53525, 0.3648 , 0.40272, 0.48865, 0.50685, 0.61025, 0.66266,
       0.41728, 0.43023, 0.92005, 0.45955, 0.48236, 0.84564, 0.70169,
       0.47268, 0.94093, 0.96867, 0.31728, 0.39394, 0.97276, 0.55982,
       0.47096, 0.8516 , 0.86386, 0.72613, 0.26382, 0.55749, 0.83494,
       0.24437, 0.26814, 0.24091, 0.22272, 0.25976, 0.87039, 0.84182,
       0.57464, 0.39745, 0.59339, 0.95581, 0.36904, 0.959  , 0.24945,
       0.58987, 0.42502, 0.65168, 0.48208, 0.6271 , 0.34694, 0.18675,
       0.62316, 0.80632, 0.50647, 0.24854, 0.27154, 0.32635, 0.71318,
       0.52275, 0.24928, 0.37679, 0.28283, 0.411  , 0.36569, 0.35441,
       0.90386, 0.92051, 0.26036, 0.40409, 0.3655 , 0.87016, 0.56444,
       0.29612, 0.95419, 0.26576, 0.24744, 0.25707, 0.71986, 0.71315,
       0.45273, 0.81279, 0.53013, 0.31019, 0.89986, 0.96277, 0.36254,
       0.34809, 0.3921 , 0.28216, 0.34103, 0.37736, 0.50977, 0.37277,
       0.90009, 0.6066 , 0.30941, 0.33097, 0.89252, 0.61814, 0.49733,
       0.46988, 0.7276 , 0.35336, 0.42218, 0.31456, 0.50026, 0.48691,
       0.74062, 0.90136, 0.76916, 0.31418, 0.88412, 0.65816, 0.22502,
       0.48484, 0.27487, 0.51179, 0.81561, 0.78528, 0.49229, 0.70027,
       0.24781, 0.46637, 0.49943, 0.41155, 0.42986, 0.38316, 0.30021,
       0.37126, 0.54014, 0.75341, 0.24975, 0.52765, 0.78459, 0.10645,
       0.10741, 0.109  , 0.14794, 0.11012, 0.19876, 0.24617, 0.33845,
       0.32636, 0.30666, 0.29997, 0.77546, 0.20895, 0.78211, 0.14121,
       0.22799, 0.2901 , 0.18396, 0.83449, 0.11835, 0.11114, 0.21713,
       0.88592, 0.52659, 0.89619, 0.53874, 0.90786, 0.51483, 0.52629,
       0.80665, 0.78308, 0.74375, 0.25481, 0.51219, 0.47808, 0.26751,
       0.18044, 0.15244, 0.46433, 0.82433, 0.48677, 0.24559, 0.46857,
       0.14396, 0.82077, 0.46154, 0.8653 , 0.17271, 0.10592, 0.72003,
       0.12204, 0.22053, 0.56644, 0.31126, 0.77812, 0.68788, 0.66373,
       0.91073, 0.76015, 0.74441, 0.64619, 0.73924, 0.70574, 0.82782,
       0.86303, 0.70228, 0.79461, 0.77333, 0.77349, 0.73987, 0.8339 ,
       0.91406, 0.69331, 0.70853, 0.74162, 0.77015, 0.76284, 0.84253,
       0.63735, 0.71389, 0.77413, 0.83262, 0.90399, 0.81598, 0.85507,
       0.77716, 0.66382, 0.83594, 0.79046, 0.91136, 0.70296, 0.8038 ,
       0.78535, 0.7777 , 0.81269, 0.84964, 0.63486, 0.77915, 0.85984,
       0.75032, 0.85287, 0.81392, 0.8104 , 0.86799, 0.75703, 0.90848,
       0.73925, 0.38188, 0.70517, 0.43155, 0.4423 , 0.83896, 0.44217,
       0.58381, 0.39988, 0.37638, 0.57515, 0.42912, 0.83866, 0.46932,
       0.4884 , 0.6995 , 0.4716 , 0.58767, 0.6815 , 0.60485, 0.61518,
       0.41262, 0.8097 , 0.46201, 0.85366, 0.35887, 0.86544, 0.36762,
       0.80026, 0.36729, 0.90561, 0.42113, 0.33073, 0.38606, 0.46603,
       0.53791, 0.4077 , 0.41083, 0.58622, 0.77905, 0.79006, 0.38865,
       0.82767, 0.5931 , 0.35389, 0.84872, 0.69364, 0.76841, 0.65739,
       0.72252, 0.43932, 0.70405, 0.40426, 0.37131, 0.15844, 0.06942,
       0.50535, 0.50786, 0.04819, 0.31879, 0.11313, 0.28631, 0.03946,
       0.45877, 0.10802, 0.04887, 0.09141, 0.37636, 0.41413, 0.28685,
       0.388  , 0.01891, 0.25323, 0.38227, 0.16532, 0.08251, 0.68558,
       0.1734 , 0.18355, 0.10189, 0.03723, 0.02351, 0.16906, 0.28797,
       0.13206, 0.0462 , 0.23817, 0.71448, 0.0821 , 0.00807, 0.05501,
       0.59685, 0.05314, 0.53958, 0.67491, 0.17991, 0.04144, 0.07188,
       0.32941, 0.62445, 0.62381, 0.06287, 0.07261, 0.53197, 0.26665,
       0.04519, 0.36837, 0.1682 , 0.23611, 0.38736, 0.06807, 0.05251,
       0.26146, 0.7156 , 0.28626, 0.0221 , 0.18936, 0.12754, 0.02316,
       0.44191, 0.02668, 0.08012, 0.28514, 0.28097, 0.69207, 0.49473,
       0.0775 , 0.20468, 0.03725, 0.08262, 0.31344, 0.11993, 0.04398,
       0.48478, 0.05722, 0.22327, 0.61472, 0.04542, 0.54317, 0.0424 ,
       0.35293, 0.0425 , 0.15154, 0.14663, 0.26518, 0.16774, 0.16222,
       0.46507, 0.07374, 0.24761, 0.39813, 0.01209, 0.01058, 0.01916,
       0.07323, 0.52582, 0.51814, 0.52682, 0.75949, 0.80546, 0.5299 ,
       0.96502, 0.76599, 0.9187 , 0.52372, 0.52708, 0.78435, 0.91245,
       0.52819, 0.52003, 0.62409, 0.58543, 0.91559, 0.86368, 0.79284,
       0.62659, 0.36641, 0.6331 , 0.40851, 0.88357, 0.57453, 0.9189 ,
       0.46208, 0.74989, 0.97638, 0.6389 , 0.59014, 0.43094, 0.60338,
       0.86802, 0.94335, 0.72534, 0.3599 , 0.93349, 0.67269, 0.37293,
       0.53496])

In [36]:
loyalty_predictions_df = pd.DataFrame(loyalty_predictions)
loyalty_predictions_df.columns = ['loyalty_prediction']

scored = pd.concat([
    to_be_scored.reset_index (drop = True),
    loyalty_predictions_df.reset_index(drop = True)],
    axis = 1
)

scored

,distance_from_store,credit_score,total_sales,total_items,transaction_count,product_area_count,avg_basket_value,gender_M,loyalty_prediction
0,4.78,0.66,3980.49,424,51,5,78.048824,0.0,0.42345
1,3.49,0.38,2887.20,253,45,5,64.160000,0.0,0.35396
2,14.91,0.68,3342.75,335,47,5,71.122340,0.0,0.34514
3,0.25,0.62,2326.71,267,48,5,48.473125,1.0,0.95676
4,4.74,0.58,3448.59,370,49,5,70.379388,0.0,0.38008
...,...,...,...,...,...,...,...,...,...
458,400.97,0.54,4072.86,346,45,5,90.508000,0.0,0.35990
459,0.32,0.38,3097.99,281,51,5,60.744902,1.0,0.93349
460,1.62,0.63,3736.02,250,46,5,81.217826,1.0,0.67269
461,4.36,0.54,4407.12,354,47,5,93.768511,0.0,0.37293
462,1.87,0.59,3067.83,254,53,5,57.883585,1.0,0.53496