In [1]:
import pandas as pd
import numpy as np

In [4]:
# create sample dataframe
my_df = pd.DataFrame({
    'A': [1, 2, 4, np.nan, 5, np.nan, 7],
    'B': [4, np.nan, 7, np.nan, 1, np.nan, 2]
})

my_df

     A    B
0  1.0  4.0
1  2.0  NaN
2  4.0  7.0
3  NaN  NaN
4  5.0  1.0
5  NaN  NaN
6  7.0  2.0

In [7]:
# find missing values
my_df.isna().sum() # counts number of missing values

A    2
B    3
dtype: int64

In [11]:
# dropping rows with ANY missing values (use inplace = True parameter to save over existing df)
my_df.dropna(how = 'any') # most likely for ML models

     A    B
0  1.0  4.0
2  4.0  7.0
4  5.0  1.0
6  7.0  2.0

In [14]:
# dropping rows with ALL missing values
my_df.dropna(how = 'all')

     A    B
0  1.0  4.0
1  2.0  NaN
2  4.0  7.0
4  5.0  1.0
6  7.0  2.0

In [16]:
# dropping rows with ANY missing values for subset of columns
my_df.dropna(how = 'any', subset = ['A'])

     A    B
0  1.0  4.0
1  2.0  NaN
2  4.0  7.0
4  5.0  1.0
6  7.0  2.0

In [20]:
# filling missing column values with a dynamic value
mean_value_a = my_df['A'].mean()
my_df['A'].fillna(value = mean_value_a)

0    1.0
1    2.0
2    4.0
3    3.8
4    5.0
5    3.8
6    7.0
Name: A, dtype: float64

In [21]:
# filling all missing values with a dynamic value
my_df.fillna(value = my_df.mean()) # replacing each column nulls with the mean for that column

     A    B
0  1.0  4.0
1  2.0  3.5
2  4.0  7.0
3  3.8  3.5
4  5.0  1.0
5  3.8  3.5
6  7.0  2.0