In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
# create sample data
my_df = pd.DataFrame({
    'A': [1, 4, 7, 10, 13],
    'B': [3, 6, 9, np.nan, 15],
    'C': [2, 3, np.nan, 11, np.nan]
})

my_df

    A     B     C
0   1   3.0   2.0
1   4   6.0   3.0
2   7   9.0   NaN
3  10   NaN  11.0
4  13  15.0   NaN

In [3]:
# set up imputer object
imputer = SimpleImputer() # default uses the mean (use strategy argument to change result value)

In [4]:
# learn replace rules
imputer.fit(my_df)

SimpleImputer()

In [5]:
# apply replace rules
imputer.transform(my_df)

array([[ 1.        ,  3.        ,  2.        ],
       [ 4.        ,  6.        ,  3.        ],
       [ 7.        ,  9.        ,  5.33333333],
       [10.        ,  8.25      , 11.        ],
       [13.        , 15.        ,  5.33333333]])

In [6]:
# fit and transform on the same line and save in place (should only be used on training data)
# if you're going to apply the same logic to test data use fit and transform seperately (imputation rules should be based on trianing data)
# imputer.fit_transform(my_df)
my_new_df = pd.DataFrame(imputer.fit_transform(my_df), columns = my_df.columns)
my_new_df

      A      B          C
0   1.0   3.00   2.000000
1   4.0   6.00   3.000000
2   7.0   9.00   5.333333
3  10.0   8.25  11.000000
4  13.0  15.00   5.333333

In [7]:
# apply transformations to a specific column and save in palce
my_df['B'] = imputer.fit_transform(my_df[['B']])
my_df

    A      B     C
0   1   3.00   2.0
1   4   6.00   3.0
2   7   9.00   NaN
3  10   8.25  11.0
4  13  15.00   NaN