In [7]:
import pandas as pd

In [8]:
# import sample data
my_df = pd.read_csv('feature_selection_sample_data.csv')
my_df.head()

   output  input1  input2  input3  input4
0     564     534     536     466     599
1     182     264     103     244     519
2     323     272     339     609     474
3     438     416     444     330     582
4     547     520     464     104     412

In [9]:
# print correlation matrix
corr_matrix = my_df.corr()
corr_matrix

          output    input1    input2    input3    input4
output  1.000000  0.789747  0.795518 -0.128295  0.086331
input1  0.789747  1.000000  0.610206 -0.140955  0.074541
input2  0.795518  0.610206  1.000000 -0.128990  0.121853
input3 -0.128295 -0.140955 -0.128990  1.000000 -0.020888
input4  0.086331  0.074541  0.121853 -0.020888  1.000000