# Variables
- A variable is a named placeholder for a value or set of values
- A variable only needs to be defined once, but can be reused many times
- This allows us to consolidate complex logix into a variable, and then refer to the variable as many times as we need without repeating the logic

In [7]:
USE AW2019;

-- Declare & Set Variable
DECLARE @mMyVarOne INT 
SET @mMyVarOne = 11
SELECT @mMyVarOne AS MyVarOne

-- Declare & Set Variable on Same Line
DECLARE @mMyVarTwo INT = 12
SELECT @mMyVarTwo AS MyVarTwo

-- Declare Min Price Variable and Use in a Query
DECLARE @MinPrice MONEY
SET @MinPrice = 1000

SELECT TOP 5 *
FROM Production.Product
WHERE ListPrice >= @MinPrice;

MyVarOne
11

MyVarTwo
12

ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
680,"HL Road Frame - Black, 58",FR-R92B-58,1,1,Black,500,375,1059.31,1431.50,58,CM,LB,2.24,1,R,H,U,14,6,2008-04-30 00:00:00.000,NULL,NULL,43dd68d6-14a4-461f-9069-55309d90ea7e,2014-02-08 10:01:36.827
706,"HL Road Frame - Red, 58",FR-R92R-58,1,1,Red,500,375,1059.31,1431.50,58,CM,LB,2.24,1,R,H,U,14,6,2008-04-30 00:00:00.000,NULL,NULL,9540ff17-2712-4c90-a3d1-8ce5568b2462,2014-02-08 10:01:36.827
717,"HL Road Frame - Red, 62",FR-R92R-62,1,1,Red,500,375,868.6342,1431.50,62,CM,LB,2.30,1,R,H,U,14,6,2011-05-31 00:00:00.000,NULL,NULL,052e4f8b-0a2a-46b2-9f42-10febcfae416,2014-02-08 10:01:36.827
718,"HL Road Frame - Red, 44",FR-R92R-44,1,1,Red,500,375,868.6342,1431.50,44,CM,LB,2.12,1,R,H,U,14,6,2011-05-31 00:00:00.000,NULL,NULL,a88d3b54-2cae-43f2-8c6e-ea1d97b46a7c,2014-02-08 10:01:36.827
719,"HL Road Frame - Red, 48",FR-R92R-48,1,1,Red,500,375,868.6342,1431.50,48,CM,LB,2.16,1,R,H,U,14,6,2011-05-31 00:00:00.000,NULL,NULL,07befc9a-7634-402b-b234-d7797733baaf,2014-02-08 10:01:36.827

In [8]:
USE AW2019;

-- Embedded Subquery
SELECT TOP 5
    ProductID,
    Name,
    StandardCost,
    ListPrice,
    AvgListPrice        = (SELECT AVG (ListPrice) FROM Production.Product),
    AvgListPriceDiff    = ListPrice - (SELECT AVG (ListPrice) FROM Production.Product)
FROM Production.Product
WHERE ListPrice > (SELECT AVG (ListPrice) FROM Production.Product)
ORDER BY ListPrice ASC;

-- Alternate Solution Using a Variable
DECLARE @AvgPrice MONEY
SELECT @AvgPrice = (
    SELECT AVG (ListPrice) 
    FROM Production.Product
)

SELECT TOP 5
    ProductID,
    Name,
    StandardCost,
    ListPrice,
    AvgListPrice        = @AvgPrice,
    AvgListPriceDiff    = ListPrice - @AvgPrice
FROM Production.Product
WHERE ListPrice > @AvgPrice
ORDER BY ListPrice ASC;

ProductID,Name,StandardCost,ListPrice,AvgListPrice,AvgListPriceDiff
977,"Road-750 Black, 58",343.6496,539.99,438.6662,101.3238
989,"Mountain-500 Black, 40",294.5797,539.99,438.6662,101.3238
990,"Mountain-500 Black, 42",294.5797,539.99,438.6662,101.3238
991,"Mountain-500 Black, 44",294.5797,539.99,438.6662,101.3238
992,"Mountain-500 Black, 48",294.5797,539.99,438.6662,101.3238

ProductID,Name,StandardCost,ListPrice,AvgListPrice,AvgListPriceDiff
977,"Road-750 Black, 58",343.6496,539.99,438.6662,101.3238
989,"Mountain-500 Black, 40",294.5797,539.99,438.6662,101.3238
990,"Mountain-500 Black, 42",294.5797,539.99,438.6662,101.3238
991,"Mountain-500 Black, 44",294.5797,539.99,438.6662,101.3238
992,"Mountain-500 Black, 48",294.5797,539.99,438.6662,101.3238

In [9]:
-- Using Variables to Work w/ Dates
DECLARE @Today DATE 
SET @Today = CAST (GETDATE() aS DATE)

DECLARE @FirstDayOfMonth DATE
SET @FirstDayOfMonth = DATEFROMPARTS (YEAR (@Today), MONTH (@Today), 1)

DECLARE @FirstDayOfPrevMonth DATE
SET @FirstDayOfPrevMonth = DATEADD (MONTH, -1, @FirstDayOfMonth)

DECLARE @LastDayOfPrevMonth DATE
SET @LastDayOfPrevMonth = DATEADD (DAY, -1, @FirstDayOfMonth)

SELECT @Today AS Today;
SELECT @FirstDayOfMonth AS FirstDayOfMonth;
SELECT @FirstDayOfPrevMonth AS FirstDayOfPrevMonth;
SELECT @LastDayOfPrevMonth AS LastDayOfPrevMonth;

-- Querying Calendar Table 
SELECT TOP 5 *
FROM AW2019.dbo.Calendar
WHERE DateValue BETWEEN @FirstDayOfPrevMonth AND @LastDayOfPrevMonth;

Today
2022-07-25

FirstDayOfMonth
2022-07-01

FirstDayOfPrevMonth
2022-06-01

LastDayOfPrevMonth
2022-06-30

DateValue,DayOfWeekNumber,DayOfWeekName,DayOfMonthNumber,MonthNumber,YearNumber,WeekendFlag
2022-06-01,4,Wednesday,1,6,2022,0
2022-06-02,5,Thursday,2,6,2022,0
2022-06-03,6,Friday,3,6,2022,0
2022-06-04,7,Saturday,4,6,2022,1
2022-06-05,1,Sunday,5,6,2022,1

# User Defined Functions
- Allows us to create functions if needed
- Should be used sparingly as there are most-likely exisitng functions for most use cases
- Returns a single value based on the user-defined function and input

In [13]:
-- Creating a User-Definted Function
USE AW2019
GO

DROP FUNCTION IF EXISTS dbo.ufnCurrentDate
GO

CREATE FUNCTION dbo.ufnCurrentDate()
RETURNS DATE
AS

BEGIN
    RETURN CAST (GETDATE() AS DATE)
END
GO

-- Query Using User-Defined Function
SELECT TOP 5 
    SalesOrderID,
    OrderDate,
    DueDate,
    ShipDate,
    Today = dbo.ufnCurrentDate()
FROM Sales.SalesOrderHeader
WHERE YEAR (OrderDate) = 2011;

SalesOrderID,OrderDate,DueDate,ShipDate,Today
43659,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,2022-07-25
43660,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,2022-07-25
43661,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,2022-07-25
43662,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,2022-07-25
43663,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,2022-07-25

In [14]:
-- Adding Paramenters to a User-Defined Function
USE AW2019
GO

DROP FUNCTION IF EXISTS dbo.ufnElapsedBusinessDays
GO

CREATE FUNCTION dbo.ufnElapsedBusinessDays (@StartDate DATE, @EndDate DATE)
RETURNS INT
AS

BEGIN
    RETURN (
        SELECT COUNT (*)
        FROM dbo.Calendar
        WHERE DateValue BETWEEN @StartDate AND @EndDate AND WeekendFlag = 0
    ) - 1
END
GO


-- Query Using User-Defined Function w/ Parameters
SELECT TOP 10
    SalesOrderID,
    OrderDate,
    DueDate,
    ShipDate,
    ElapsedBusinessDays = dbo.ufnElapsedBusinessDays (OrderDate, ShipDate)
FROM Sales.SalesOrderHeader
WHERE YEAR (OrderDate) = 2011

SalesOrderID,OrderDate,DueDate,ShipDate,ElapsedBusinessDays
43659,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5
43660,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5
43661,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5
43662,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5
43663,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5
43664,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5
43665,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5
43666,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5
43667,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5
43668,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5

# Stored Procedures
- Database objects that provide almost unlimited flexibility
- Reusable SQL scripts, available on demand
- Dynamic, user-driven results

In [9]:
USE AW2019;

-- Starter Query
SELECT *
FROM (
    SELECT
        P.Name AS ProductName,
        LineTotalSum        = Sum (D.LineTotal),
        LineTotalSumRank    = DENSE_RANK () OVER (ORDER BY SUM (D.LineTotal) DESC)
    FROM Sales.SalesOrderDetail AS D
        JOIN Production.Product AS P
            ON D.ProductID = P.ProductID
    GROUP BY P.Name
) AS X
WHERE LineTotalSumRank <= 10;
GO

-- Create Simple Stored Procedure
DROP PROCEDURE IF EXISTS dbo.OrdersReport
GO

CREATE PROCEDURE dbo.OrdersReport
AS

BEGIN
    SELECT *
    FROM (
        SELECT
            P.Name AS ProductName,
            LineTotalSum        = Sum (D.LineTotal),
            LineTotalSumRank    = DENSE_RANK () OVER (ORDER BY SUM (D.LineTotal) DESC)
        FROM Sales.SalesOrderDetail AS D
            JOIN Production.Product AS P
                ON D.ProductID = P.ProductID
        GROUP BY P.Name
    ) AS X
    WHERE LineTotalSumRank <= 10
END

-- Call Stored Procedure
EXEC dbo.OrdersReport
GO


-- Modify Stored Procedure to Add Parameter
ALTER PROCEDURE dbo.OrdersReport (@TopN INT)
AS

BEGIN
    SELECT *
    FROM (
        SELECT
            P.Name AS ProductName,
            LineTotalSum        = Sum (D.LineTotal),
            LineTotalSumRank    = DENSE_RANK () OVER (ORDER BY SUM (D.LineTotal) DESC)
        FROM Sales.SalesOrderDetail AS D
            JOIN Production.Product AS P
                ON D.ProductID = P.ProductID
        GROUP BY P.Name
    ) AS X
    WHERE LineTotalSumRank <= @TopN
END
GO

-- Call Stored Procedure w/ Parameter
EXEC dbo.OrdersReport 5

ProductName,LineTotalSum,LineTotalSumRank
"Mountain-200 Black, 38",4400592.800400,1
"Mountain-200 Black, 42",4009494.761841,2
"Mountain-200 Silver, 38",3693678.025272,3
"Mountain-200 Silver, 42",3438478.860423,4
"Mountain-200 Silver, 46",3434256.941928,5
"Mountain-200 Black, 46",3309673.216908,6
"Road-250 Black, 44",2516857.314918,7
"Road-250 Black, 48",2347655.953454,8
"Road-250 Black, 52",2012447.775000,9
"Road-150 Red, 56",1847818.628000,10

ProductName,LineTotalSum,LineTotalSumRank
"Mountain-200 Black, 38",4400592.800400,1
"Mountain-200 Black, 42",4009494.761841,2
"Mountain-200 Silver, 38",3693678.025272,3
"Mountain-200 Silver, 42",3438478.860423,4
"Mountain-200 Silver, 46",3434256.941928,5

# Control Flow w/ IF Statements
- Allows us to apply logical conditions to our code
- IF, ELSE
- SQL does not have an ELIF option, but you can use nested IF statements, or multiple distinct IF statements
    - If an IF statement with no ELSE condition runs and the IF condition is not met, the block of code is skipped
    - We can use this to circumvent ELIF by having another IF statements below
    - Make sure criteria for each IF statement does not overlap unles you want multiple statements to run given a true conditon

In [14]:
USE AW2019;
GO

-- Basic Example
DECLARE @MyInput INT
SET @MyInput = 4

IF @MyInput > 1
    BEGIN
        SELECT 'Hello World' AS Greeting
    END

ELSE
    BEGIN
        SELECT 'Farewell' AS Greeting
    END
GO


-- Stored Procedure w/ Conditional Logic
ALTER PROCEDURE dbo.OrdersReport (@TopN INT, @OrderType INT)
AS

BEGIN

    IF @OrderType = 1
        BEGIN
            SELECT *
            FROM (
                SELECT
                    P.Name AS ProductName,
                    LineTotalSum        = Sum (D.LineTotal),
                    LineTotalSumRank    = DENSE_RANK () OVER (ORDER BY SUM (D.LineTotal) DESC)
                FROM Sales.SalesOrderDetail AS D
                    JOIN Production.Product AS P
                        ON D.ProductID = P.ProductID
                GROUP BY P.Name
            ) AS X
            WHERE LineTotalSumRank <= @TopN
        END

        ELSE
            BEGIN
                SELECT *
                FROM (
                    SELECT
                        P.Name AS ProductName,
                        LineTotalSum        = Sum (D.LineTotal),
                        LineTotalSumRank    = DENSE_RANK () OVER (ORDER BY SUM (D.LineTotal) DESC)
                    FROM Purchasing.PurchaseOrderDetail AS D
                        JOIN Production.Product AS P
                            ON D.ProductID = P.ProductID
                    GROUP BY P.Name
                ) AS X
                WHERE LineTotalSumRank <= @TopN
            END
     
END
GO

-- Call Stored Procedure for Sales and Purchase Order Detail
EXEC dbo.OrdersReport @TopN = 5, @OrderType = 1 -- Sales Order Detail
EXEC dbo.OrdersReport @TopN = 5, @OrderType = 2 -- Purchase Order Detail

Greeting
Hello World

ProductName,LineTotalSum,LineTotalSumRank
"Mountain-200 Black, 38",4400592.800400,1
"Mountain-200 Black, 42",4009494.761841,2
"Mountain-200 Silver, 38",3693678.025272,3
"Mountain-200 Silver, 42",3438478.860423,4
"Mountain-200 Silver, 46",3434256.941928,5

ProductName,LineTotalSum,LineTotalSumRank
HL Crankarm,3358797.75,1
ML Mountain Pedal,2709040.95,2
ML Road Pedal,2390330.25,3
Rear Brakes,2277948.75,4
Front Brakes,2277948.75,4
HL Mountain Tire,2092346.025,5

In [15]:
USE AW2019;
GO

-- Stored Procedure w/ Multiple IF Statements
ALTER PROCEDURE dbo.OrdersReport (@TopN INT, @OrderType INT)
AS

BEGIN

    IF @OrderType = 1
        BEGIN
            SELECT *
            FROM (
                SELECT
                    P.Name AS ProductName,
                    LineTotalSum        = Sum (D.LineTotal),
                    LineTotalSumRank    = DENSE_RANK () OVER (ORDER BY SUM (D.LineTotal) DESC)
                FROM Sales.SalesOrderDetail AS D
                    JOIN Production.Product AS P
                        ON D.ProductID = P.ProductID
                GROUP BY P.Name
            ) AS X
            WHERE LineTotalSumRank <= @TopN
        END

    IF @OrderType = 2
        BEGIN
            SELECT *
            FROM (
                SELECT
                    P.Name AS ProductName,
                    LineTotalSum        = Sum (D.LineTotal),
                    LineTotalSumRank    = DENSE_RANK () OVER (ORDER BY SUM (D.LineTotal) DESC)
                FROM Purchasing.PurchaseOrderDetail AS D
                    JOIN Production.Product AS P
                        ON D.ProductID = P.ProductID
                GROUP BY P.Name
            ) AS X
            WHERE LineTotalSumRank <= @TopN
        END

    IF @OrderType = 3
    BEGIN
        DROP TABLE IF EXISTS #AllOrders
        SELECT
            ProductID,
            LineTotal
        INTO #AllOrders
        FROM Sales.SalesOrderDetail

        INSERT INTO #AllOrders
        SELECT
            ProductID,
            LineTotal
        FROM Purchasing.PurchaseOrderDetail


            SELECT *
            FROM (
                SELECT
                    P.Name AS ProductName,
                    LineTotalSum = SUM (A.LineTotal),
                    LineTotalSumRank = DENSE_RANK () OVER (ORDER BY SUM (A.LineTotal) DESC)
                FROM #AllOrders AS A
                JOIN Production.Product AS P
                    ON A.ProductID = P.ProductID
                GROUP BY P.Name
            ) AS X
            WHERE LineTotalSumRank <= @TopN
    END
     
END
GO

-- Call Stored Procedure for Sales, Purchase, and Combined Order Detail
EXEC dbo.OrdersReport 5, 1 -- Sales Order Detail
EXEC dbo.OrdersReport 5, 2 -- Purchase Order Detail
EXEC dbo.OrdersReport 5, 3 -- Sales & Purchase Order Detail Combined

ProductName,LineTotalSum,LineTotalSumRank
"Mountain-200 Black, 38",4400592.800400,1
"Mountain-200 Black, 42",4009494.761841,2
"Mountain-200 Silver, 38",3693678.025272,3
"Mountain-200 Silver, 42",3438478.860423,4
"Mountain-200 Silver, 46",3434256.941928,5

ProductName,LineTotalSum,LineTotalSumRank
HL Crankarm,3358797.75,1
ML Mountain Pedal,2709040.95,2
ML Road Pedal,2390330.25,3
Rear Brakes,2277948.75,4
Front Brakes,2277948.75,4
HL Mountain Tire,2092346.025,5

ProductName,LineTotalSum,LineTotalSumRank
"Mountain-200 Black, 38",4400592.800400,1
"Mountain-200 Black, 42",4009494.761841,2
"Mountain-200 Silver, 38",3693678.025272,3
"Mountain-200 Silver, 42",3438478.860423,4
"Mountain-200 Silver, 46",3434256.941928,5