# Load NYC Taxi Data into Spark Database

In [ ]:
%%spark

spark.sql("CREATE DATABASE IF NOT EXISTS NYCTaxi")

val df = spark.read.sqlanalytics("DP203SQLPOOL.dbo.Trip") 
df.write.mode("overwrite").saveAsTable("NYCTaxi.trip")

# Analyze NYC Taxi Data Using Spark Notebook

In [ ]:
%%pyspark

df = spark.sql("SELECT * FROM NYCTaxi.Trip")

display(df)

In [ ]:
%%pyspark

df = spark.sql("""
    SELECT
        PassengerCount
        , SUM (TripDistanceMiles) AS SumTripDistance
        , AVG (TripDistanceMiles) AS AvgTripDistance
    FROM NYCTaxi.Trip
    WHERE TripDistanceMiles > 0 AND PassengerCount > 0
    ORDER BY PassengerCount ASC
""")

display(df) 
df.write.saveAsTable("NYCTaxi.PassengerCountStats")

# Load Data from Spark Table to Dedicated SQL Pool Table

In [ ]:
%%spark

val df = spark.sql("SELECT * FROM NYCTaxi.PassengerCountStats")
df.write.sqlanalytics("DP203SQLPOOL.dbo.PassengerCountStats", Constants.INTERNAL)